@page "/employee-list"
@using WorkHourPlus.Components.Shared
@using WorkHourPlus.Entities.Enums
@using WorkHourPlus.Shared.DTOs

@attribute [Authorize(Roles = $"{nameof(Roles.Superadmin)},{nameof(Roles.Manager)}")]

<PageTitle>Employee List</PageTitle>

<div class="d-flex justify-content-between mb-3">
    <h3>Employee List</h3>
    <RadzenButton>Add</RadzenButton>
</div>

<Card>
    <RadzenDataGrid AllowSorting="@true"
                    AllowFiltering="@true"
                    AllowAlternatingRows="@true"
                    FilterMode="@FilterMode.Simple"
                    PageSize="10"
                    AllowPaging="@true"
                    PagerHorizontalAlign="@HorizontalAlign.Left"
                    ShowPagingSummary="@true"
                    Data="@_employees">
        <Columns>
            <RadzenDataGridColumn Property="@nameof(EmployeeDto.Id)"
                                  Width="50px"
                                  Title="#"
                                  Filterable="false"
                                  TextAlign="TextAlign.Center" />
                
            <RadzenDataGridColumn Property="@nameof(EmployeeDto.Name)"
                                  Title="Name"
                                  TextAlign="TextAlign.Left"/>
            
            <RadzenDataGridColumn Property="@nameof(EmployeeDto.Email)"
                                  Title="Email"
                                  TextAlign="TextAlign.Left"/>
            
            <RadzenDataGridColumn Property="@nameof(EmployeeDto.Email)"
                                  Title="Email"
                                  TextAlign="TextAlign.Left"/>
        </Columns>
    </RadzenDataGrid>
</Card>