@page "/GradePage"
@using WorkHourPlus.Shared.DTOs

<PageTitle>Manage Grades</PageTitle>

<div class="d-flex justify-content-between mb-3">
    <h3>Employee List</h3>
    <RadzenButton>Add</RadzenButton>
</div>

<Card>
    @if (_grades is not null)
    {
        <RadzenDataGrid AllowSorting="@true"
                        AllowFiltering="@true"
                        AllowAlternatingRows="@true"
                        FilterMode="@FilterMode.Simple"
                        PageSize="10" AllowPaging="@true"
                        PagerHorizontalAlign="@HorizontalAlign.Left"
                        ShowPagingSummary="@true">
            
        </RadzenDataGrid>
    }
</Card>

@code {
    private List<GradeDto>? _grades;
    
    
}