<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["WorkHourPlus.styles.css"]" />
    <RadzenTheme Theme="standard" @rendermode="InteractiveServer" />
    <ImportMap />
    <HeadOutlet @rendermode="@PageRenderMode" />
</head>
    
<body>
    <Routes @rendermode="@PageRenderMode" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script
        src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = null!;

    private IComponentRenderMode? PageRenderMode
    => HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}